@use "../../../styles/colors";

.container {
  input {
    position: relative;
    margin: 0;
    user-select: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border: 2px solid colors.$gray-200;
    border-radius: 2px;
    transform: translateY(-0.075em);

    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      transform: scale(0);
      transition: 0.15s transform ease-in-out;
      background-color: colors.$cucohealth-red;
      border-radius: 2px;
    }

    &:after {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      transform: scale(0);
      transition: 0.15s transform ease-in-out;
      box-shadow: inset 16px 16px colors.$white;

      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
    &:checked {
      border: none;

      &:before,
      &:after {
        transform: scale(1);
      }
    }

    // &:focus {
    //   outline: max(2px, 0.15em) solid currentColor;
    //   outline-offset: max(2px, 0.15em);
    // }
  }
}
