@use "../../styles/colors";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.5rem;

  font-size: 1.125rem;
  font-weight: 600;
  // letter-spacing: 1.2px;
  // white-space: nowrap;

  color: colors.$white;
  background-color: colors.$cucohealth-pink;
  border: 2px solid colors.$cucohealth-pink;
  border-radius: 6px;

  transition: color 0.3s, background-color 0.3s;

  &.icon {
    span.icon {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &:hover:not(:disabled) {
    color: colors.$cucohealth-pink;
    background-color: colors.$white;

    svg {
      path {
        fill: colors.$cucohealth-pink;
      }
    }
  }

  &.success {
    color: colors.$white;
    background-color: colors.$cucohealth-green;
    border: 2px solid colors.$cucohealth-green;

    &:hover:not(:disabled) {
      color: colors.$cucohealth-green;
      background-color: colors.$white;

      svg {
        path {
          fill: colors.$cucohealth-green;
        }
      }
    }
  }

  &.danger {
    color: colors.$white;
    background-color: colors.$cucohealth-red;
    border: 2px solid colors.$cucohealth-red;

    &:hover:not(:disabled) {
      color: colors.$cucohealth-red;
      background-color: colors.$white;

      svg {
        path {
          fill: colors.$cucohealth-red;
        }
      }
    }
  }

  &.plain {
    color: colors.$gray-400;
    background: none;
    border: none;

    &:hover:not(:disabled) {
      // color: colors.$red;
      background: none;
    }
  }
}
