$white: #ffffff;
$black: #000;

$light-gray: #f0f0f5;
$gray-200: #e2e8f0;
$gray-400: #969cb2;
$gray-500: #718096;
$gray-700: #363f5f;
$gray-900: #171923;

$cucohealth-blue: #03a9f4;
$cucohealth-pink: #ee2279;
$cucohealth-red: #e52e4d;
$cucohealth-green: #12a454;
