@use "../../../styles/colors";

.container {
  position: relative;
  height: 64px;

  label {
    font-size: 0.9rem;
  }

  input {
    width: inherit;
    height: inherit;
    appearance: none;
    outline: none;
    border: none;
    background: colors.$white;

    padding: 0.5rem 0.7rem;

    font-size: 18px;

    border: 1px solid colors.$gray-200;
    border-radius: 6px;

    cursor: text;
    transition: border-color 0.3s, box-shadow 0.3s;

    &::placeholder {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.36);
    }
    &:hover {
      border-color: colors.$cucohealth-blue;
    }

    &:not([readOnly]):focus {
      border-color: colors.$cucohealth-blue;
      box-shadow: 0 0 2px 2px
        rgba($color: colors.$cucohealth-blue, $alpha: 0.25);
    }
  }

  &.icon {
    input {
      padding-right: 50px;
    }
  }

  span.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }

  &.error {
    input {
      border-color: colors.$cucohealth-red;
    }

    span {
      position: absolute;
      right: 0;
      bottom: -14px;
      font-size: 11px;
      color: colors.$cucohealth-red;
    }
  }
}
