@use "../../styles/colors";

.container {
  fieldset {
    border: none;

    & > div {
      & ~ div {
        margin-top: 25px;
      }

      & > div {
        width: 100%;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    margin-top: 25px;
  }
}

.row {
  display: flex;
  gap: 2rem;
}
