@use "../../styles/colors";

.table__container {
  width: 100%;

  table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: inherit;

    .flex__center {
      display: flex;
      justify-content: center;
    }

    button {
      padding: 6px 12px;
      font-size: 14px;
    }

    thead {
      text-align: left;
      white-space: nowrap;

      font-family: "Poppins";
      font-size: 13px;
      font-weight: 600;
      color: colors.$gray-400;
      // background-color: colors.$light-blue;

      tr {
        th {
          line-height: 2.75;
          font-weight: 600;

          &:first-child {
            padding-left: 30px;
          }

          &.align__center {
            text-align: center;
          }
        }
      }
    }

    tbody {
      font-family: "Poppins";
      color: colors.$gray-400;
      white-space: nowrap;

      tr {
        background-color: colors.$white;
        td {
          padding: 1rem 0;

          font-size: 16px;

          font-weight: 400;

          .main__text {
            font-weight: 600;
            color: colors.$gray-700;
          }
          .secondary__text {
            font-size: 14px;
          }

          &.align__center {
            text-align: center;
          }
          &.skeleton__container {
            padding: 1rem 0;

            div ~ div {
              margin-top: 4px;
            }
          }
          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 30px;
          }
          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;
    margin-bottom: 40px;

    span,
    button {
      font-family: "Poppins";
      font-size: 13px;
      font-weight: 400;
      color: colors.$gray-400;
    }

    strong {
      font-weight: 600;
    }

    .pageCount {
      display: flex;
      gap: 5px;

      span {
        user-select: none;
      }

      button.pageButton {
        line-height: 1.25;
        font-size: 12px;
        border: none;
        background: none;
        cursor: pointer;
        padding: 4px 8px;

        transition: color 0.3s;

        &:hover {
          color: colors.$black;
        }
      }
      button.active {
        color: colors.$white;
        pointer-events: none;
        background-color: colors.$cucohealth-blue;
        border-radius: 6px;
      }
    }
  }
}
