@use "../../styles/colors";

.table__container {
  width: 100%;

  table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: inherit;

    thead {
      text-align: left;
      white-space: nowrap;

      font-family: "Poppins";
      font-size: 13px;
      font-weight: 600;
      color: colors.$gray-500;
      // background-color: colors.$light-blue;

      tr {
        th {
          font-weight: 600;

          // &:first-child {
          //   // padding-left: 0.5rem;
          // }

          &.align__center {
            text-align: center;
          }
        }
      }
    }

    tbody {
      font-family: "Poppins";
      color: colors.$gray-500;
      white-space: nowrap;

      tr {
        background-color: colors.$white;
        td {
          padding: 1rem 0;
          font-size: 16px;
          font-weight: 400;

          .main__text {
            font-weight: 600;
            color: colors.$gray-700;
          }
          .secondary__text {
            font-size: 14px;
          }

          &.align__center {
            text-align: center;
          }
          &.skeleton__container {
            padding: 0.5rem 1rem 0.5rem 0;
          }
          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          .flex__center {
            display: flex;
            justify-content: center;
          }
        }
      }

      button {
        padding: 0.4rem 0.8rem;
        font-size: 0.75rem;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 25px;
    margin-bottom: 40px;

    span {
      font-family: "Poppins";
      font-size: 13px;
      font-weight: 400;
      color: #969cb2;
    }

    strong {
      font-weight: 600;
    }

    .pageCount {
      display: flex;
    }
  }
}
